name: Build Docker Image for build and test

on:
  push:
    branches: [ "main" ]
    paths:
      - 'misc/python/Dockerfile'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: misc/python/Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository }}/build-env:latest
        cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/build-env:buildcache
        cache-to: type=registry,ref=ghcr.io/${{ github.repository }}/build-env:buildcache,mode=max
