name: python package compilation

on:
  push:
    branches: [ "main", "dev" ]
    paths:
      - 'csyncmer_fast.h'
      - 'misc/python/**'
      - 'misc/syng/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'csyncmer_fast.h'
      - 'misc/python/**'
      - 'misc/syng/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/${{ github.repository }}/build-env:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - uses: actions/checkout@v4

    - name: Build the python package
      run: cd misc/python && python -m build
